# copy this to /etc/udev/rules.d/ and reload udev with: udevadm control --reload-rules
ACTION=="change", SUBSYSTEM=="drm", ENV{HOTPLUG}=="1", RUN+="/home/damirs/.screenlayout/hotplug.sh"

